<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>itemList</servlet-name>
        <servlet-class>org.mypackage.java.itemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>org.mypackage.java.Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegChk</servlet-name>
        <servlet-class>org.mypackage.java.RegChk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChk</servlet-name>
        <servlet-class>org.mypackage.java.LoginChk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>org.mypackage.java.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>itemList</servlet-name>
        <url-pattern>/itemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegChk</servlet-name>
        <url-pattern>/RegChk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChk</servlet-name>
        <url-pattern>/LoginChk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
